.filters {
  background-color: rgb(243, 243, 243);
  padding-bottom: 120px;
  .filCon {
    display: flex;
    gap: 30px;
    .filParameters {
      display: flex;
      flex-direction: column;
      .parameters {
        width: 270px;
        margin-bottom: 50px;
        h6 {
          padding: 14px 121px 16px 36px;
          color: white;
          background-color: #2d2d2d;
          font-family: Montserrat;
          font-weight: 700;
          font-size: 18px;
        }
        .btnParameters {
          background-color: white;
          padding: 30px 36px 41px;
          h4 {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 19px;
          }
          input[type="checkbox"] {
            vertical-align: sub;
            margin-bottom: 15px;
          }
          input[type="checkbox"]:last-of-type {
            margin-bottom: 30px;
          }

          input[type="text"] {
            width: 84px;
            margin-bottom: 15px;
          }

          /* Стили для noUiSlider */
          #price-from {
            margin-right: 25px;
          }
          #height-from {
            margin-right: 25px;
          }
          #height-from-2 {
            margin-right: 25px;
          }
          #slider {
            margin-bottom: 30px;
          }
          .noUi-target {
            width: 100%;
            margin-top: 20px; /* Отступ сверху для размещения под input'ами */
            margin-bottom: 20px;
            height: 3px; /* Высота трека */
            background: #ccc; /* Цвет трека */
            border: none; /* Убираем стандартные границы */
            box-shadow: none; /* Убираем стандартные тени */
          }

          .noUi-connect {
            background: #fcb427; /* Оранжевый цвет заполненной части */
          }

          .noUi-handle {
            border-radius: 0; /* Острые углы ползунка */
            background: #fcb427; /* Оранжевый цвет ползунка */
            border: none; /* Убираем стандартные границы */
            cursor: pointer;
            width: 18px; /* Ширина ползунка */
            height: 9px; /* Высота ползунка */
            top: -3px; /* Смещаем ползунок для центрирования на треке */
            box-shadow: none; /* Убираем стандартные тени */
          }

          /* Скрываем или делаем прозрачными псевдоэлементы, создающие белые полоски */
          .noUi-handle::before,
          .noUi-handle::after {
            display: none; /* Скрываем псевдоэлементы */
          }

          /* Стилизация тултипов (если используются) */
          .noUi-tooltip {
            display: none; /* Скрываем стандартные тултипы, если они есть */
          }
          .clear {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 28px;
            margin-top: 27px;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 16px;
            color: #c4c4c4;
          }
          .show {
            width: 100%;
            padding-top: 14px;
            padding-bottom: 14px;
            font-family: PT Sans;
            font-weight: 700;
            font-size: 16px;
            color: white;
            background-color: #2d2d2d;
          }

          span {
            vertical-align: sub;
            margin-left: 10px;
            margin-bottom: 15px;
            font-family: Montserrat;
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
      .park {
        width: 270px;
        h6 {
          padding: 14px 0px 16px 36px;
          color: white;
          background-color: #2d2d2d;
          font-family: Montserrat;
          font-weight: 700;
          font-size: 18px;
        }
        .btnPark {
          display: flex;
          flex-direction: column;
          gap: 25px;
          background-color: white;
          padding: 30px 36px 41px;
          div > div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            h4 {
              font-family: Montserrat;
              font-weight: 700;
              font-size: 15px;
            }
            img {
              cursor: pointer;
            }
          }
          .open {
            display: flex;
          }
          div > div + div {
            display: none;
            flex-direction: column;
            gap: 13px;
            a {
              font-family: Montserrat;
              font-weight: 400;
              font-size: 12px;
              color: #2d2d2d;
              text-decoration: none;
            }
            button {
              font-family: Montserrat;
              font-weight: 400;
              font-size: 12px;
              color: #2d2d2d;
              text-decoration: none;
              text-align: left;
            }
          }
        }
        &.openPark {
          position: absolute;
          top: 838px;
          display: block;
          z-index: 1;
          background: white;
          width: 270px;
          left: 0px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
      }
      &.openFil {
        position: absolute;
        display: block;
        z-index: 1;
        background: white;
        top: 1212px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
    }
    .filRes {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      gap: 26px;
      position: relative;
      .filMobile {
        position: absolute;
        display: none;
        height: 44px;
        width: 61px;
        background-color: #535554;
      }
      .orientation {
        display: flex;
        justify-content: space-between;
        img {
          cursor: pointer;
        }
        #select {
          margin-left: 25px;
          outline: none;
          border: 1px solid #535554;
          padding: 6px 15px;
          background-color: rgb(243, 243, 243);
          font-family: Montserrat;
          font-weight: 400;
          font-size: 12px;
        }
        div:last-of-type {
          img {
            cursor: pointer;
            vertical-align: middle;
            margin-left: 10px;
          }
        }
      }
      #productCard {
        max-height: 1000px;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
      }
    }
  }
  .swipFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 48px;
    .prev {
      img {
        transform: rotateY(180deg);
        cursor: pointer;
      }
    }
    .next {
      img {
        cursor: pointer;
      }
    }
    .listCards {
      display: flex;
      gap: 10px;
      .Active {
        width: 28px;
        height: 32px;
        padding-top: 7px;
        border: 1px solid #fcb427;
        color: black;
      }
      div {
        color: #8c8a8a;
        text-align: center;
        padding-top: 2px;
        cursor: pointer;
        width: 22px;
        height: 23px;
        border: 1px solid #c4c4c4;
      }
    }
  }
}
#burger+ul>li:nth-of-type(1)>a {  //стили для подчёркивания в Headere
  font-weight: 600;
  border-bottom: 2px solid #FCB427;
}
@media all and (max-width: 1250px) {
  .container {
    width: 740px;
  }
  .container #productCard .product-card {
    width: 205px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    height: 425px;
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 13px;
    }
    div:last-child {
      padding-bottom: 10px;
    }
  }
}
@media all and (max-width: 755px) {
  .container {
    width: 300px;
  }
  .tons {
    padding-top: 59px;
    padding-bottom: 110px;
    background-color: rgb(243, 243, 243);
  }
  .filters .filCon .filParameters {
    display: none;
    &.openFil {
      display: block;
    }
  }
  .filters .filCon .filRes .filMobile {
    display: block;
    top: -63px;
  }
  .filters .filCon .filRes .filMobile img {
    position: absolute;
    top: 10px;
    left: 27px;
    cursor: pointer;
  }
  .container #productCard .product-card {
    width: 205px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    height: 425px;
    margin: 0 auto;
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 13px;
    }
    div:last-child {
      padding-bottom: 10px;
    }
  }
}
#productCard .product-card {
  max-width: 270px;
  height: 490px;
}
#productCard .product-card div:last-child button {
  margin-top: 22px;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  color: white;
  background-color: #fcb427;
  padding: 12px 0px;
}
