* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.header-top-back {
  background-color: rgb(45, 45, 45);
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.header-top {
  display: flex;
  gap: 80px;
  padding-top: 9px;
  padding-bottom: 9px;
  .h-logo {
    gap: 21px;
    display: flex;
    div:last-child {
      padding-top: 10px;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 14px;
      color: white;
      line-height: 23px;
      text-align: center;
    }
  }
  .h-adress {
    display: flex;
    gap: 44px;
    div:first-child {
      display: flex;
      margin-top: auto;
      margin-bottom: auto;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 14px;
      color: white;
      span {
        padding-top: 9px;
        margin-right: 18px;
      }
      address {
        font-style: normal;
      }
      img {
        margin-right: 10px;
      }
    }
    div:nth-child(2) {
      .header-button {
        margin-top: 10px;
        font-family: PT Sans;
        font-weight: 700;
        font-size: 18px;
        color: white;
        border: 1px solid #ffbf1d;
        padding: 8px 27px;
      }
    }
    div:nth-child(3) {
      display: flex;
      img {
        width: 21px;
        height: 21px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 12px;
      }
      div {
        a {
          display: block;
          text-decoration: none;
          color: white;
          font-family: Montserrat;
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }
}
.header-bot-back {
  background-color: rgb(243, 243, 243);
}
.burger-active span:nth-child(1) {
  transform: rotate(40deg) translate(6px, 10px);
}

.burger-active span:nth-child(2) {
  opacity: 0;
}

.burger-active span:nth-child(3) {
  transform: rotate(315deg) translate(2px, -4px);
}
.header-bot {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  nav {
    #burger {
      display: none;
      width: 30px;
      height: 25px;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      z-index: 10;
      span {
        display: block;
        height: 4px;
        background: black;
        border-radius: 25px;
        margin-bottom: 4px;
      }
    }
    .nav-active {
      display: block;
      position: absolute;
      background-color: rgb(239, 234, 229);
      border-radius: 20px;
      padding: 15px;
      margin-top: 15px;
      li {
        margin-bottom: 8px;
      }
      span {
        display: block;
        position: absolute;
        top: -15px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid rgb(239, 234, 229);
      }
    }
    ul {
      display: flex;
      gap: 30px;
      list-style-type: none;
      span {
        display: none;
      }
      li {
        a {
          text-decoration: none;
          color: black;
          font-family: Montserrat;
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }
  div {
    position: relative;
    input {
      height: 30px;
      width: 270px;
    }
    img {
      position: absolute;
      right: 10px;
      top: 7px;
    }
  }
}
@media all and (max-width: 1250px) {
  .header-bot nav ul {
    display: none;
  }
  .header-bot nav #burger {
    display: block;
    position: relative;
  }
}
