@charset "UTF-8";
/* line 1, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* line 14, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top-back {
  background-color: #2d2d2d;
}

/* line 17, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.container {
  margin: 0 auto;
  width: 1200px;
}

/* line 21, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top {
  display: flex;
  gap: 80px;
  padding-top: 9px;
  padding-bottom: 9px;
}

/* line 26, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-logo {
  gap: 21px;
  display: flex;
}

/* line 29, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-logo div:last-child {
  padding-top: 10px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: white;
  line-height: 23px;
  text-align: center;
}

/* line 39, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-adress {
  display: flex;
  gap: 44px;
}

/* line 42, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-adress div:first-child {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

/* line 50, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-adress div:first-child span {
  padding-top: 9px;
  margin-right: 18px;
}

/* line 54, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-adress div:first-child address {
  font-style: normal;
}

/* line 57, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-adress div:first-child img {
  margin-right: 10px;
}

/* line 62, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-adress div:nth-child(2) .header-button {
  margin-top: 10px;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  color: white;
  border: 1px solid #ffbf1d;
  padding: 8px 27px;
}

/* line 72, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-adress div:nth-child(3) {
  display: flex;
}

/* line 74, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-adress div:nth-child(3) img {
  width: 21px;
  height: 21px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 12px;
}

/* line 82, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-top .h-adress div:nth-child(3) div a {
  display: block;
  text-decoration: none;
  color: white;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
}

/* line 94, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot-back {
  background-color: #f3f3f3;
}

/* line 97, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.burger-active span:nth-child(1) {
  transform: rotate(40deg) translate(6px, 10px);
}

/* line 101, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.burger-active span:nth-child(2) {
  opacity: 0;
}

/* line 105, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.burger-active span:nth-child(3) {
  transform: rotate(315deg) translate(2px, -4px);
}

/* line 108, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 114, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot nav #burger {
  display: none;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10;
}

/* line 122, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot nav #burger span {
  display: block;
  height: 4px;
  background: black;
  border-radius: 25px;
  margin-bottom: 4px;
}

/* line 130, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot nav .nav-active {
  display: block;
  position: absolute;
  background-color: #efeae5;
  border-radius: 20px;
  padding: 15px;
  margin-top: 15px;
}

/* line 137, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot nav .nav-active li {
  margin-bottom: 8px;
}

/* line 140, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot nav .nav-active span {
  display: block;
  position: absolute;
  top: -15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #efeae5;
}

/* line 151, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

/* line 155, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot nav ul span {
  display: none;
}

/* line 159, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot nav ul li a {
  text-decoration: none;
  color: black;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
}

/* line 169, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot div {
  position: relative;
}

/* line 171, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot div input {
  height: 30px;
  width: 270px;
}

/* line 175, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
.header-bot div img {
  position: absolute;
  right: 10px;
  top: 7px;
}

@media all and (max-width: 1250px) {
  /* line 183, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
  .header-bot nav ul {
    display: none;
  }
  /* line 186, ../../../OneDrive/Рабочий стол/GraduationProject/SCSS/Header/header.scss */
  .header-bot nav #burger {
    display: block;
    position: relative;
  }
}

/*# sourceMappingURL=header.css.map */