.catalogEquipment{
    background-color: rgb(243, 243, 243);
    padding-top: 81px;
    padding-bottom: 120px;
    .container{
        position: relative;
        h3 {
            font-family: PT Sans;
            font-weight: 700;
            font-size: 40px;
        }
        
    }
}