.TermsRent {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(243, 243, 243);
  h1 {
    font-family: PT Sans;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
  }
  p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
  }
  ul {
    list-style-type: none;
    li {
      font-family: Montserrat;
      font-weight: 400;
      font-size: 16px;
    }
  }
}
