.textInfo {
  padding-top: 125px;
  padding-bottom: 120px;
  background-color: rgb(245, 245, 245);
  .container {
    div:first-child {
      margin-bottom: 50px;
    }
    h2 {
      font-family: PT Sans;
      font-weight: 700;
      font-size: 40px;
      margin-bottom: 30px;
    }
    p {
      display: flex;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 16px;
      line-height: 157%;
      letter-spacing: 0%;
    }
  }
}

@media all and (max-width: 755px) {
  .container {
    width: 300px;
  }
  .textInfo {
    padding-top: 50px;
    padding-bottom: 50px;
    .container {
      h2 {
        font-size: 24px;
        text-align: center;
      }
      p {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
