.ShowObjects {
  background-color: rgb(243, 243, 243);
  padding-top: 63px;
  padding-bottom: 120px;
  h1 {
    font-family: PT Sans;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 80px;
  }
  .Objects {
    display: flex;
    gap: 29px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    img {
      width: 370px;
    }
  }
  .Objects > div {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  .Objects > div > div:last-child {
    background-color: white;
    padding: 15px 32px 25px 22px;
    p {
      font-family: Montserrat;
      font-weight: 700;
      font-size: 18px;
      line-height: 142%;
      letter-spacing: 0%;
    }
  }
  .Download {
    display: block;
    margin: 0 auto;
    border: 1px solid #fcb427;
    font-family: PT Sans;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 53px;
  }
}
@media all and (max-width: 1250px) {
  .container {
    width: 740px;
  }
  .ShowObjects .Objects img {
    width: 354px;
  }
}
@media all and (max-width: 755px) {
  .container {
    width: 300px;
  }
  .ShowObjects .Objects img {
    width: 300px;
  }
}
