.formOrderAlfa {
  background-color: rgb(243, 243, 243);
}
.path {
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: rgb(243, 243, 243);
  h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 23px;
  }
  p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
  }
}
